*{
    margin: 0;
    padding: 0;
    background-color: black;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;     
}
canvas {
    display: block;
  }

#botton-reinicio:hover {
    background-color: #9c911a;
}

#botton-reinicio{
    position: absolute;
    top: 10px;
    left: 140px;
    background-color: #3a8002;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}